<!-- Menu Conta -->
<div *ngIf="useSelectedMenu.selectedMenu === selectedMenu" [class]="menuClass">
  <h1>{{ title }}</h1>
  <div [class]="buttonsClass">
    <div *ngFor="let button of buttons">
      <div [class]="button.class">
        <button>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <!-- Contorno do documento -->
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
            <polyline points="14 2 14 8 20 8"/>
            
            <!-- Linhas do “texto” dentro do documento -->
            <line x1="8" y1="12" x2="16" y2="12"/>
            <line x1="8" y1="16" x2="16" y2="16"/>
            <line x1="8" y1="20" x2="12" y2="20"/>
          </svg>
        </button>
        {{ button.text }}
      </div>
    </div>
  </div>
</div>