.conta-menu {
  position: absolute;
  z-index: 100;
  border-radius: 0px 0px 12px 12px;
  height: 400px;
  width: 400px;
  top: 66px;
  left: 100%;
  cursor: auto;
  pointer-events: all;
  transform: translate(-50%, 0%); 
  background-color: var(--bg-card);
  padding: 0px 24px;
}

.conta-menu h1 {
  font-family: 'OpenSans';
  font-size: clamp(1.2rem, 1.8vw, 1.2rem);
  padding: 0px 12px;
}

.conta-buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.conta-buttons button {
  border: none;
  border-radius: 12px;
  color: #6366F1;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.extrato {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 2px;
  font-family: 'OpenSans';
  font-weight: bold;
  font-size: clamp(0.6rem, 1.6vw, 1rem); 
}