<nav class="navbarhome">
  <div class="cima">
    <app-logo></app-logo>
    <div class="user">
      <div class="balance-menu">
        <app-showinfomenu></app-showinfomenu>
        <div class="balance-div">
          <p>saldo</p>
          @if (!showInfoService.isOpen && !isLoading) {
            <p class="balance">{{ balance.balance | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
          } @else if (showInfoService.isOpen) {
            <p class="hidden">{{ balance.balance | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
          } @else if(isLoading) {
            <span class="loading"></span> 
          } 
        </div>
        <button class="extrato" [routerLink]="'/'">
          <svg width="22" height="22" viewBox="0 0 28 24" fill="none">
            <path d="M1 12H19M19 12L12 5M19 12L12 19"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"/> 
          </svg>
        </button>
      </div>
      <div class="user-div">
        <span class="side"></span>
        <div class="user-menu">
          <svg width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c0-4 4-6 8-6s8 2 8 6"></path>
          </svg>
        </div>
        <span class="side"></span>
      </div> 
    </div>
  </div>
  <div class="menu"> 
    <p
      (mouseenter)="openMenu('home')" 
      (mouseleave)="closeMenu()">
      Início
      <span></span>
    </p>
    <p (mouseenter)="openMenu('conta')" >
      Conta Digital
      <span></span>
    </p>

    <p
      (mouseenter)="openMenu('transacoes')" 
      (mouseleave)="closeMenu()">
      Transações
      <span></span>
    </p>
    <p
      (mouseenter)="openMenu('cartoes')" 
      (mouseleave)="closeMenu()">
      Cartões
      <span></span>
    </p>
  </div>
</nav>

<!-- Menu Conta -->
<div *ngIf="selectedMenu === 'conta'" class="conta-menu">
  <h1>Saldo e Extrato</h1>
  <div class="conta-buttons">
    <div class="extrato">
      <button>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <!-- Contorno do documento -->
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
          <polyline points="14 2 14 8 20 8"/>
          
          <!-- Linhas do “texto” dentro do documento -->
          <line x1="8" y1="12" x2="16" y2="12"/>
          <line x1="8" y1="16" x2="16" y2="16"/>
          <line x1="8" y1="20" x2="12" y2="20"/>
        </svg>
      </button>
      Extrato
    </div>
    
  </div>
  
</div>

<!-- Blur de fundo -->
<div *ngIf="selectedMenu" 
     class="blur" 
     (click)="closeMenu()">
</div>