/* You can add global styles to this file, and also import other style files */
:root {
  --bg-main: #F6F8FB;
  --bg-secondary: #EEF2F7;
  --bg-card: #FFFFFF;

  --text-main: #0F172A;
  --text-secondary: #334155;
  --text-muted: #64748B;

  --soft-border: #E2E8F0;
  --hover-border: #CBD5E1;

  --success: #16A34A;
  --warning: #EAB308;
  --error: #DC2626;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-main);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'AlfaSlabOne';
  src: url('/fonts/AlfaSlabOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}